.card {
  outline: none;
  width: 280px;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.03) skew(0);
    transform-origin: bottom;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
  }

  &__image-container {
    height: 200px;
    width: 280px;
    background-image: url("/img/galaxy-card.webp");
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 200px, 0 190px); /* init */
  }

  &__image-container img[src="img/rocket.webp"] {
    width: 135px;
  }

  &:hover &__image-container,
  &:focus &__image-container {
    clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px); /*  end */
  }

  &__image {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    transition: transform 0.2s ease-in-out;
  }

  &:hover &__image,
  &:focus &__image {
    transform: scale(1.2) rotate(10deg);
    transform-origin: center;
  }

  &__content {
    padding: 0.5em;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    background: $h2-color;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0.5rem;
    text-decoration: none;
    text-align: center;
  }

  &__description {
    p {
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
  }
} 
