<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ecommerce de Eduardo Danderfer, aplicando UX/UI, Responsive Desing, Desarrollo Moderno, Technical Writing, SEO, SASS y Vite">
    <meta name="keywords"
        content="Galaxy Shop, Venta de terrenos espaciales, Comprar pasaporte extraterrestre, Eduardo Danderfer, Eddev Full-Stack Engineer">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Eduardo Danderfer | Eddev">
    <meta name="copyright" content="Eddev Corp.">
    <link rel="icon" href="/img/icon.webp">
    <title>Carrito | Galaxy Shop</title>
</head>

<body>

    <header class="main-header">
        <input type="checkbox" id="menu">

        <nav class="nav-bar">
            <ul class="nav-bar__nav-list">
                <li class="nav-bar__nav-item">
                    <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="alta.html" class="nav-bar__nav-link">Alta</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
                </li>
                <li class="nav-bar__nav-item">
                    <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
                </li>
            </ul>
        </nav>

        <div class="search-bar">
            <div class="search-bar__logo-container"></div>

            <form action="#" class="search-bar__form-container">
                <label for="busqueda" class="search-bar__form-label">Buscar</label>
                <input type="search" class="search-bar__form-search" id="busqueda">
                <input type="submit" class="search-bar__form-submit" value="Buscar">
            </form>

            <div class="search-bar__carrito-container"> <i class="fa-solid fa-cart-shopping fa-xl"></i></div>

            <div class="menu-toogle">
                <label for="menu" class="menu-toogle__label">
                    <span class="menu-toogle__top-bread"></span>
                    <span class="menu-toogle__meat"></span>
                    <span class="menu-toogle__bottom-bread"></span>
                </label>
            </div>

        </div>

    </header>

    <main>
        <section class="headings">

            <header class="headings__header">
                <h1>Nosotros</h1>
                <span>¿Quienes somos?</span>
            </header>

        </section>
    </main>

    <footer class="main-footer">
        <div class="main-footer__container-top">

            <section class="main-footer__information-container">
                <h3 class="main-footer__heading">Sobre</h3>
                <ul class="main-footer__list">
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Galaxy shop </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Noticias </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Fundador </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Documentos </a></li>
                </ul>
            </section>

            <section class="main-footer__information-container">
                <h3 class="main-footer__heading">Ayuda</h3>
                <ul class="main-footer__list">
                    <li class="main-footer__items"> <a class="main-footer__links" href="#">Comprar </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Términos </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Privacidad </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Contacto </a></li>
                </ul>
            </section>

            <section class="main-footer__information-container">
                <h3 class="main-footer__heading">Cuenta</h3>
                <ul class="main-footer__list">
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Resumen </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Favoritos </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Deseados </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Ajustes </a></li>
                </ul>
            </section>

            <section class="main-footer__information-container">
                <h3 class="main-footer__heading">Puntos</h3>
                <ul class="main-footer__list">
                    <li class="main-footer__items"> <a class="main-footer__links" href="#">Galaxy Coins </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Obtener </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Reclamar </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Sorteos </a></li>
                </ul>
            </section>

            <section class="main-footer__information-container">
                <h3 class="main-footer__heading">Redes</h3>
                <ul class="main-footer__list">
                    <li class="main-footer__items"> <a class="main-footer__links" href="#">Twitter</a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Facebook </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> Instagram </a></li>
                    <li class="main-footer__items"> <a class="main-footer__links" href="#"> YouTube </a></li>
                </ul>
            </section>
        </div>

        <div class="main-footer__container-bottom">
            <div class="main-footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="main-footer__social-link">
                    <i class="fab fa-facebook fa-xl"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="main-footer__social-link">
                    <i class="fab fa-instagram fa-xl"></i>
                </a>
                <a href="#" target="_blank" class="main-footer__social-link">
                    <i class="fab fa-whatsapp fa-xl"></i>
                </a>
            </div>
            <div class="main-footer__info">
                <p class="main-footer__info-text">© 2023 ∾ Eddev</p>
            </div>

        </div>
    </footer>

    <script src="https://kit.fontawesome.com/b28b471a93.js" crossorigin="anonymous"></script>
    <script type="module" src="/main.js"></script>
</body>

</html>